body {
  width: 1440px;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-size: 26px;
}

.site-navigation{
  font-size: 16px;
  color: gray;
  list-style-type: none;
  padding: 10px;
}

.site-navigation-item{
  display: inline;
}

a{
  text-decoration: none;
  color: gray;
}

a:hover{ 
  color: black;
}